:root{
    --cor-primaria:#a7215f;
    --cor-secundaria:#b94296;                                                                                                                                                                  
    --cor-fundo:#ffffff;
    --cor-texto:#000000;
    --cor-contraste:#5c802d;
    --cor-botao:#ffc1c1;
}